rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isAuthenticated() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return isAuthenticated() && request.auth.uid == userId;
    }

    match /users/{userId} {
      allow read, write: if isOwner(userId);

      match /reports/{reportId} {
        allow read, write: if isOwner(userId);
      }

      match /templates/{templateId} {
        allow read, write: if isOwner(userId);
      }
    }
  }
}
